.header {
    height: 95px;
      display: flex;
} 
.header-link{
        margin: auto
}
div{
    border-width:1;
    border-color: red;
    border-style: solid ;
}
  .project{
  background-position: center;
        background-size: cover;
    }
.project_beginner{
         width: 636px;
             height: 430px;
}
.project_music-album {
    background-image: url(https://code.s3.yandex.net/web-code/album.png);
}

.project_design-principles {
    background-image: url(https://code.s3.yandex.net/web-code/design.png);
} 
.flex-row{
  display: flex;
  justify-content: space-around;
}
.flex-column{
   display: flex;
    width: 636px;
   height: 557px;
  justify-content:space-between;
}
.project_procrastinate{
    height: 557px;
     width: 636px;
}
.project-video{
    width: 100%;
height: 100%;
object-fit: cover;
}
.project_p5 {
    width: 636px;
    height: 240px;
}
.flex-row_frameworks-inner{
  width: 636px;
  height: 290px;
} 
.project_slider{
  background-image: url(https://code.s3.yandex.net/web-code/slider.gif);
  width: 306px;
  height: 290px
}
.project_reactive{
  background-image: url(https://code.s3.yandex.net/web-code/reactive.gif);
    width: 306px;
  height: 290px;
}
.flex-column_reversed{
 flex-direction: column-reverse;
}
.flex-row_reversed{
   flex-direction: row-reverse;
}
.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:75px;
}
.project_vanilla{
  width: 306px;
  height: 290px;
}
.project_how-to-study{
  background-image: url(https://code.s3.yandex.net/web-code/how-to-study.png);
}
.project_across-russia {
  background-image: url(https://code.s3.yandex.net/web-code/across-russia.png);
}
  .project_mesto{
   background-image: url(https://code.s3.yandex.net/web-code/mesto.png);
  }
